* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Card */
.login-container {
    width: 400px;
    text-align: center;
    background: #ffffff;
    padding: 28px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


/* Title */
.login-container h2 {
    text-align: center;
    margin-bottom: 22px;
    color: #1f2933;
    
}

/* Input Group */
.input-group {
    margin-bottom: 16px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #4b5563;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    outline: none;
}

.input-group input:focus {
    border-color: #2563eb;
}

/* Login Button */
button {
    width: 100%;
    padding: 11px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    background: #2563eb;
    color: #ffffff;
    cursor: pointer;
}


button:hover {
    background: #1d4ed8;
}
